{% extends "applicant_view/base_applicant.html" %}

{% load static %}

{% block container %}


<!-- input to get the start time -->

<input style="display: none;" type="text" name="" id="startTime" value="{{start_time}}" >



<div class="container mt-5 p-5">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{event.poster.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{event.title}}</h5>
              <p class="card-text">{{event.description}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
</div>

<br>
{% if event_form %}
<input style="display: none;" id="unique_id" type="text" value="{{event_form.0.unique_id}}">
  
{% endif %}


{% if started %}
{% if event_form %}


<div class="container p-4">
    <a class="btn btn-primary" href="{% url 'form_view' event_form.0.unique_id %}">Form Link Here</a>
</div>

{% endif %}
  
{% endif %}

{% if ended %}
<div class="container p-3">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Sorry Event Ended !</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
</div>
  
{% endif %}

{% if not_started %}

<div class="container p-3">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Event Not Started yet !!</h4>
        <p id="localDate"></p>
        <p id="demo"></p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
</div>
  
{% endif %}
  
{% endblock container %}



{% block js %}

<script>
    startTime = document.getElementById('startTime').value;
    unique_id = document.getElementById('unique_id');
    console.log(startTime);
    
// Funcion to convert UTC date-time
// to Local date-time

    var theDate = new Date(Date.parse(startTime + ' UTC'));
  
    // document.write("Local date Time: ", 
    //         theDate.toLocaleString());
    localDate = theDate.toLocaleString();
    document.getElementById('localDate').innerHTML =localDate;

    console.log(theDate.toLocaleString());





    // countdown timer
    
    

    
// Set the date we're counting down to
var countDownDate = new Date(localDate).getTime()

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    if(unique_id){
      document.getElementById("demo").innerHTML = "<a class='btn btn-outline-primary' href = '/form_view/" + unique_id.value+ "'>Form Link</a>";
    }
    
  }
}, 1000);


</script>
  
{% endblock js %}