{% extends "base2.html" %}
{% load static %}


{% block css %}

<style>
    .form-control,
    .form-select {
        background-color: #121212 !important;
        border: 2px solid #292929;
        border-top: none;
        border-right: none;
        border-left: none;
        color: white;




    }

    input, textarea {
        color: white !important;
    }
    label{
        color: white !important;
    }
</style>

{% endblock css %}



{% block container %}
<div class="d-flex justify-content-center mt-3 p-4">
    <img style="height:100px" src="{% static 'illus1.svg' %}" alt="">
    <h2 style="margin-left: 1rem; margin-top:2rem">Add Event</h2>
</div>

<!-- form -->

<div class="container mt-2 p-5">


    <div class="card border-primary mb-3 p-3">

        <div class="card-body text-primary">
            <h3 style=" font-size: 900;" class="card-title mb-5">Add Details</h3>
            <br><br>
            <form enctype="multipart/form-data" action="{% url 'add_event' %}" method="POST">
                {% csrf_token %}
                <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" />
                </div>
                <div class="mb-5">
                    <label for="exampleFormControlTextarea1" class="form-label">
                        Description</label>
                    <textarea class="form-control" id="mytextarea" rows="5" name="description"></textarea>
                </div>
                <div class="mb-5">
                    <label for="exampleFormControlTextarea1" class="form-label">
                        Rules</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="rules"></textarea>
                </div>
                <div class="mb-5">
                    <label for="formFile" class="form-label">Poster</label>
                    <input style="color: #fff" class="form-control" type="file" name="poster" id="formFile" />
                </div>
                <br>
                <div>
                    <label for="exampleFormControlInput1" class="form-label">No of Participants</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name="no_of_participants" />
                </div>

                <br><br>

                <select name="type" class="form-select" aria-label="Default select example">
                    <option value="NR" selected>Normal</option>
                    <option value="GM">Gaming</option>
                </select>
                <br><br>
                <label for="restriction" class="form-label">Restriction</label>
                <select id="restriction" name="restriction" class="form-select" aria-label="Default select example">
                    <option value="False" selected>Public</option>
                    <option value="True">Private</option>
                </select>
                <br><br>
                <label for="startTime" class="col-sm-3 col-form-label mt-2">Start Time</label>
                <div class="col-sm-9 mt-2">
                    <input class="form-control" type="datetime-local" id="startTime" required />
                    <input style="display: none" class="form-control" type="datetime" id="start_time"
                        name="start_time" />
                </div>
                <br><br>
                <label for="endTime" class="col-sm-3 col-form-label mt-2">End Time</label>
                <div class="col-sm-9 mt-2">
                    <input class="form-control" type="datetime-local" id="endTime" required />
                    <input style="display: none" class="form-control" type="datetime" id="end_time" name="end_time" />
                </div>
                <br><br>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary" type="submit">Submit</button>

                </div>
            </form>
        </div>
    </div>

</div>

{% endblock container %}

{% block js %}


<script>
    document.getElementById("startTime").addEventListener("change", () => {
        var inpt_date = document.getElementById("startTime").value;
        var d = new Date(inpt_date).toISOString();

        document.getElementById("start_time").value = d;

        console.log(d);
        if (document.getElementById("start_time").value = document.getElementById("start_time").value) {
            alert("End Time Must Be After Start Time")
        }
    });

    document.getElementById("endTime").addEventListener("change", () => {
        var inpt_date = document.getElementById("endTime").value;
        var e = new Date(inpt_date).toISOString();

        document.getElementById("end_time").value = e;

        // console.log(d);
        if (e <= document.getElementById("start_time").value) {
            alert("End Time Must Be After Start Time")
        }
    });




</script>

{% endblock js %}