{% extends "dashboard-base.html" %}

{% block container %}
    
    <div class="container mt-5">
        <div class="row">
            {% for event in events %}
              
            
            <div class="col-lg-4 col-sm-6">
                <div class="card mt-4" >
                    <img id="card-thumb-top" src="{{event.poster.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{event.title}}</h5>
                      <p class="card-text">{{event.description|truncatechars:200}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="{% url 'event_view_host' event.pk%}" class="card-link">View</a>
                      </li>
                      <li class="list-group-item">
                        <a href="{% url 'add_form_fields' event.formparent.pk %}" class="card-link">Form</a>
                      </li>
                      <li class="list-group-item">
                        <a href="{% url 'responses' event.formparent.pk %}" class="card-link">Responses</a>
                      </li>
                      <li class="list-group-item">
                        <a href="{% url 'winner_declaration' event.unique_id %}" class="card-link">Winner Declaration</a>
                      </li>
                      
                    </ul>
                    <div class="card-body">
                   
                     
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock container %}