{% extends "base2.html" %}
{% load static %}


{% block container %}

<!-- hero start -->
<div style="background: #1f1b24;" class="hero">

    <div class="container mb-5">
        <div class="row mb-5">
            <div class="d-flex justify-content-center mt-5">
                <img style="height:3.5rem" src="{% static 'logo.png' %}" alt="">
            </div>

            <div style="text-align: center; " class="d-flex justify-content-center mt-2">
            
                <h2 class="mt-2 head-title">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </h2>
            </div>
            

            <div style="text-align: center;" class="d-flex justify-content-center mt-1">

                <p style="color:grey">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <a id="hero-btn" class="btn btn-outline-primary m-2" href="{% url 'register_home' %}">Participate</a>
                <a id="hero-btn" class="btn btn-info m-2"  href="{% url 'register_home' %}">Host</a>
            </div>



            <div style="margin-bottom: -1rem;" class="d-flex justify-content-center mt-2 ">
                <img id="hero-illustration" src="{% static 'hero-illustration2.svg' %}" alt="">
            </div>


            {% if events %}

            <div style="margin-bottom: -4rem;" class="d-flex justify-content-center mt-5">
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">

                            <div id="carousel-card" class="card mb-3">
                                <img id="carousel-img" src="{{events.0.poster.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">

                                        <h2 style="color: #03dac5;" class="card-title">{{events.0.title}}</h2>

                                    </div>
                                  
                                 
                                </div>
                            </div>
                              
                            
                        </div>
                        {% for event in events|slice:"1:6" %}
                        <div class="carousel-item" data-bs-interval="2000">
                            <div id="carousel-card" class="card mb-3">
                                <img id="carousel-img" src="{{event.poster.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <div class="d-flex justify-content-center">
                                    <h2 style="color: #03dac5;" class="card-title">{{event.title}}</h2>
                                  </div>


                                  
                                </div>
                            </div>
                        </div>

                        {% endfor %}


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
              
            {% endif %}
            

        </div>


    </div>
</div>
<!-- hero end -->




<br><br>
<div class="container mt-5 mb-5">
   
        
        <h1  class="text-center ">What do we do?</h1>
      

        <br>
        <br><br>
        
    
    <div  class="d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-4 col-sm-12 px-5 mt-2">
                <div class="row">

                    <div class="d-flex justify-content-center">
                        <img id="icons" src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/70/ffffff/external-radio-host-radio-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <h3>Host </h3>
                    <p style="color: grey"><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, autem.</small></p>

                </div>

            </div>
            <div class="col-lg-4 col-sm-12 px-5 mt-2">
                <div class="row">

                    <div class="d-flex justify-content-center">
                        <img id="icons" src="https://img.icons8.com/external-itim2101-lineal-itim2101/70/ffffff/external-participation-company-itim2101-lineal-itim2101.png"/>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <h3>Participate</h3>
                    <p style="color: grey"><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, autem.</small></p>

                </div>
            </div>
            <div class="col-lg-4 col-sm-12 px-5 mt-2">
                <div class="row">

                    <div class="d-flex justify-content-center">
                        <img id="icons" src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/70/ffffff/external-position-achievements-and-badges-flatart-icons-solid-flatarticons.png"/>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <h3>Win</h3>
                    <p style="color: grey; "><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, autem.</small></p>

                </div>

            </div>
        </div>
    </div>

</div>
<div class="container mt-3 mb-5">
    <br><br>
    <h1 class="text-center">Events</h1>
    <!-- events start -->
    <div class="row mt-5">
        {% for event in events|slice:":4" %}

        <div class="col-lg-4 col-sm-6 mt-3 px-4">
            <div id="card" class="card">
                <div class="card-body">
                    <h5 class="card-title heading ">{{event.title}}</h5>
                    {% if event.group %}
                     <p style="font-size:smaller" class="mb-3 mt-4"><img src="https://img.icons8.com/glyph-neue/24/ffffff/group-objects.png"/> Group: <a style="margin-left: 0.4rem;" href="{% url 'group_view' event.group.pk %}"> {{event.group}}</a></p>
                    {% else %}
                      <p style="font-size:smaller" class="mb-3 mt-4"><img src="https://img.icons8.com/glyph-neue/24/ffffff/group-objects.png"/> Group: <a style="margin-left: 0.4rem;" href=""> {{event.group}}</a></p>
                      {% endif %}
                    <p style="font-size:x-small">
                        {% for tag in event.tag_set.all %}

                        <a id="tag" href="">#{{tag}}</a>
                          
                        {% endfor %}
                    </p>
                    <h6><span class="badge rounded-pill bg-light text-dark mt-2 mb-3">
        
                        {% if event.result_out %}
                          Passed
                        {% else %}
                        Ongoing
                        {% endif %}
                        </span>
                    </h6>
                    
                    <a id="block-btn" href="{% url 'event_home' event.pk %}" class="btn btn-outline-primary btn-sm">View <img style="margin-bottom: 0.1rem;" src="https://img.icons8.com/fluency/18/000000/forward.png"/></a>
                </div>
                <center>
                    <hr style="width:80%">
                </center>
                <img src="{{event.poster.url}}" class="card-img-bottom" id="card-thumb-bottom" alt="...">
            </div>
        </div>

        {% endfor %}
    </div>
    <br><br>
    <br>
    <center><a id="block-btn" href="{% url 'all_events' %}" class="btn btn-primary">View more</a></center>

</div>


<br><br>
<div class="container mt-3 mb-5">
    <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img style="max-width:90vw" src="{% static 'group.svg' %}" alt="">
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-12 px-5 py-5 mt-4 ">
            <h3> Groups</h3>
            <p style="color:grey">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum accusantium, error porro dolores suscipit quis!</p>
        </div>
    </div>
    <br><br>

    <h1 class="text-center mb-5">Groups</h1>
    <br>
    <div class="row ">
        {% for group in groups %}
          
       
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-5">
                    <img style="height:100%; object-fit: cover" src="{{group.poster.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title">{{group.name}}</h5>
                      <p style="opacity: 0.5;" class="card-text">{{group.description|truncatechars:50}}</p>
                        <a class="btn btn-outline-info btn-sm" href="{% url 'group_view' group.pk %}">View</a>
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>

        {% endfor %}
    </div>

    <br><br><br>
    <center><a id="block-btn" href="{% url 'all_groups' %}" class="btn btn-primary">View more</a></center>
</div>

{% endblock container %}