{% extends "dashboard-base.html" %}

{% block container %}

    <div class="container mt-5">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Position </label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eg: 1st Position">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
        <select class="form-select" multiple aria-label="multiple select example">
            {% for i in event.participants.all %}

            <option value="1">{{i}}</option>
              
            {% endfor %}
            
          
        </select>
    </div>


{% endblock container %}